html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.form-floating > .form-control-plaintext::placeholder, .form-floating > .form-control::placeholder {
  color: var(--bs-secondary-color);
  text-align: end;
}

.form-floating > .form-control-plaintext:focus::placeholder, .form-floating > .form-control:focus::placeholder {
  text-align: start;
}
.btn-primary {
    background-color: #5A13F2;
    border-color: #5A13F2;
}

    .btn-primary:hover {
        background-color: #4910C9;
    }

.btnMatricular {
    background-color: #4F1BBF !important;
    border-color: #4F1BBF !important;
    color: white !important;
}

    .btnMatricular:hover {
        background-color: #3b1491 !important;
        border-color: #3b1491 !important;
    }
